<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Discord Quotes</title>
        <link rel="stylesheet" href="css/toast.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="account-container">
            <h2>Admin panel??</h2>
            <hr>
            <button>Create invite code</button>
            <button>Delete user account</button>
            <button>Wipe all files</button>
        </div>
        <div id="toast-wrapper"></div>
        <script type="module" src="js/02a4c9072ccaa29e5a32.js"></script>
    </body>
</html>